.tuner-sound-buttons {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;

    .sound-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
    }

    .calib-buttons {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 30%;
    }

    .light-button {
        position: absolute;
        top: 70%;
    }


    .tuner-button {
        position: absolute;
        top: 20%;
        border-radius: 60px;
    }
}